<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>{{ offline }}</p>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<h3>Cygwin</h3>
<p>1. 安装Cygwin https://cygwin.com/</p>
<p>2. C:\cygwin64\home\UserName</p>
<p>3. openssl genrsa -out key.pem 1024</p>
<p>4. openssl req -new -key key.pem -out cert.csr</p>
<p>5. openssl x509 -req -in cert.csr -signkey key.pem -out cert.pem</p>
<p>6. http-server -S  -C cert.pem -K key.pem</p>
<p>7. chrome://flags/#allow-insecure-localhost</p>
<p>8. npm install angular-cli-ghpages -g</p>
<p>10. ng build --prod --base-href https://wkylin.github.io/ng-pwa</p>
<p>11. ngh</p>
<p>12. Notes: register('/ng-pwa/ngsw-worker.js')</p>

<h3>Ngrok</h3>
<p>1. "build": "ng build --prod",</p>
<p>2. "http:server": "cd dist && http-server -p 9088",</p>
<p>3. "ngr": "ngrok http 9088",</p>
